Repository Wolox/react-bootstrap, pull requests merged in 2018-10, with the labels that each got.

#30 Add propTypes in the README
  README.md
  generators/app/templates/src/app/components/Spinner/index.js
  generators/app/templates/src/app/components/TextArea/index.js
  generators/app/templates/src/app/components/TextArea/styles.js
  generators/app/templates/src/scss/margins.scss
  generators/app/templates/stories/components.js
  package-lock.json
  package.json
Labels: development

#36 Component/checkbox
  README.md
  generators/app/constants.js
  generators/app/templates/src/app/components/Checkbox/index.js
  generators/app/templates/src/app/components/Checkbox/layout.js
  generators/app/templates/stories/components.js
  generators/app/templates/stories/scss/variables/_colors.scss
  generators/app/templates/stories/styles.scss
Labels: components, development

#38 Component/radiogroup
  README.md
  docs/RadioGroup.md
  generators/app/constants.js
  generators/app/templates/src/app/components/RadioGroup/components/RadioOption/index.js
  generators/app/templates/src/app/components/RadioGroup/index.js
  generators/app/templates/stories/components.js
  generators/app/templates/stories/scss/variables/_colors.scss
  generators/app/templates/stories/styles.scss
Labels: components
